.header {
    width:1855px;
    height:150px;
    background-color: rgb(0, 0, 0);
    h1 {color:white;}
    text-align: center;
    font-size: 50px;
}
.middle 
{

.left-sidebar {

        background-color: rgb(79, 185, 79);
        text-align: center; align-content:flex-start;
        width: 300px; height: 500px;
        margin-left: 2%;
        
}
    .main-content {

        background-color: rgb(183, 223, 241);
        text-align: center; align-content: center;
        width: 150px; height: 150px;
        padding: 25%;
        margin-left: 20%;
    }
        
.right-sidebar {
    
        background-color: rgb(79, 185, 79);
        text-align: center; align-content:flex-end;
        width: 300px; height: 500px;
        margin-left: 81%;
}
}
.footer {
    width:1855px;
    height:150px;
    background-color: rgb(0, 0, 0);
    h1 {color:white;}
    text-align: center;
    font-size: 50px;
}