.header {
    width:2000px;
    height:150px;
    background-color: rgb(0, 0, 0);
    h1 {color:white;}
    text-align: center;
    font-size: 50px;
}
.middle {
    display:flex;
    flex-direction: column;
    
    .left-sidebar {
        background-color: rgb(79, 185, 79);
        text-align: center; align-content:flex-start;
        width: 300px; height: 500px;
    }
    .main-content {
        background-color: rgb(183, 223, 241);
        text-align: center; align-content: center;
        width: 150px; height: 150px;
        padding: 25%;
    } 
    .right-sidebar {
        background-color: rgb(79, 185, 79);
        text-align: center; align-content:flex-end;
        width: 300px; height: 500px;
    }
}
.footer {
    width:1855px;
    height:150px;
    background-color: rgb(0, 0, 0);
    h1 {color:white;}
    text-align: center;
    font-size: 50px;
}