body{
 background-color:black;
.Area {
    text-align: center;
    margin-top: 20%;
    h1 {color: white}
    h2 {color: white}
    
}
.evilbutton {
        background-image: url('fire.gif'); background-size:contain;
        color:rgb(255, 255, 255);
        font-size:50px;
        font-family: 'Times New Roman', Times, serif;
        font-style: bold;
}
}
